@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    background: url(./backPushkin.png) center;
    background-size: cover;
}

#pushkinCirc {
    margin-top: 10%;
    height: 100px;
}

nav {
    color: white;
    font-size: 200%;
    font-family: 'Amatic SC', cursive;
}

h4 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.mainP {
    margin-top: 10%;    
    color: white;
    font-size: 250%;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

.mainP h1 {
    font-size: 250%;
}

.mainP button {
    margin-top: 2%;
    padding: 1%;
    border: 1px solid white;
}

.mainP button {
    background: rgba(255, 255, 255, 0);
}

.mainP button:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: 0.5s linear;
}

.mainP a:hover {
    color: white;
    text-decoration: none;
}

a {
    color: white;
}

a:active, li:active {
    color: black;
}

.aliveA:hover {
    background: rgba(255, 255, 255, 0.2) !important;
    color: white;
    transition: 0.5s linear;
}

.diedA:hover {
    background: rgba(255, 255, 255, 0) !important;
}

#myModal {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
}

#myModal2 {
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 200%;
}

#myModal button {
    font-size: 120%;
    border: 1px solid black;
}

#myModal2 button {
    font-size: 120%;
    border: 1px solid black;
}

#myModal button:hover {
    background: rgba(146, 146, 146, 0.3);
    transition: 0.5s linear;
}

#myModal2 button:hover {
    background: rgba(146, 146, 146, 0.3);
    transition: 0.5s linear;
}

h4 {
    font-size: 150%;
}

.modal button {
    margin-top: 2%;
    padding: 1%;
    background: rgba(255, 255, 255, 0);
    border: 1px solid white;
}